html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bg-custom-gray {
    background-color: #f7f3f2;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cart-hover-button .btn-label {
    display: none;
    margin-left: 0.5rem;
}

.cart-hover-button:hover .btn-label {
    display: inline;
}

.custom-gray {
  background-color: #f1f1f1;
}

.swal2-chico {
  width: 320px !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.8em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  font-size: 18px;
}

.swal2-titulo-chico {
  font-size: 18px !important;
}

.footer-text {
    font-size: 1rem;
}

@media (max-width: 767.98px) {
    .footer-text {
        font-size: 0.75rem;
    }
}